%----------------------------------------------------------------------------------------
%   CLASS DEFINITIONS (EMBEDDED RESUME.CLS)
%----------------------------------------------------------------------------------------
\documentclass[9pt,letterpaper]{article} % Font size and paper type

\usepackage[parfill]{parskip} % Remove paragraph indentation
\usepackage{array} % Required for boldface (\bf and \bfseries) tabular columns
\usepackage{ifthen} % Required for ifthenelse statements
\usepackage{charter}
\usepackage{enumitem}
\usepackage{xcolor} % Recommended for more color options
\usepackage[colorlinks=true, urlcolor=blue]{hyperref}
\usepackage[left=0.5in,top=0.25in,right=0.4in,bottom=0.2in, columnsep=0.5cm]{geometry} % Tightened margins slightly
\input{glyphtounicode}
\usepackage[none]{hyphenat}
\usepackage{multicol}

\pdfgentounicode=1
\pagestyle{empty} % Suppress page numbers

\makeatletter % Begin internal command redefinitions

%----------------------------------------------------------------------------------------
%	HEADINGS COMMANDS: Commands for printing name and address
%----------------------------------------------------------------------------------------

\def \name#1{\def\@name{#1}} % Defines the \name command to set name
\def \@name {} % Sets \@name to empty by default

\def \addressSep {$\diamond$} % Set default address separator to a diamond

% One, two or three address lines can be specified 
\let \@addressone \relax
\let \@addresstwo \relax
\let \@addressthree \relax

% \address command can be used to set the first, second, and third address (last 2 optional)
\def \address #1{
  \@ifundefined{@addresstwo}{
    \def \@addresstwo {#1}
  }{
  \@ifundefined{@addressthree}{
  \def \@addressthree {#1}
  }{
     \def \@addressone {#1}
  }}
}

% \printaddress is used to style an address line (given as input)
\def \printaddress #1{
  \begingroup
    \def \\ {\addressSep\ }
    \centerline{#1}
  \endgroup
  \par
}

% \printname is used to print the name as a page header
\def \printname {
  \begingroup
    \hfil{{\namesize\bf \@name}}\hfil
    \nameskip\break
  \endgroup
}

%----------------------------------------------------------------------------------------
%	PRINT THE HEADING LINES
%----------------------------------------------------------------------------------------

\let\ori@document=\document
\renewcommand{\document}{
  \ori@document  % Begin document
  \printname % Print the name specified with \name
  \@ifundefined{@addressone}{}{ % Print the first address if specified
    \printaddress{\@addressone}}
  \@ifundefined{@addresstwo}{}{ % Print the second address if specified
    \printaddress{\@addresstwo}}
     \@ifundefined{@addressthree}{}{ % Print the third address if specified
    \printaddress{\@addressthree}}
}

%----------------------------------------------------------------------------------------
%	SECTION FORMATTING
%----------------------------------------------------------------------------------------

% Defines the rSection environment for the large sections within the CV
\newenvironment{rSection}[1]{ % 1 input argument - section name
  \sectionskip
 \textbf{\Large #1} % Section title
  \sectionlineskip
  \hrule % Horizontal line
  \begin{list}{}{ % List for each individual item in the section
    \setlength{\leftmargin}{-0em} % Margin within the section
  }
  \item[]
}{
  \end{list}
}

%----------------------------------------------------------------------------------------
%	WORK EXPERIENCE FORMATTING
%----------------------------------------------------------------------------------------

\newenvironment{rSubsection}[4]{ % 4 input arguments - company name, year(s) employed, job title and location
 {\bf #1} \hfill {#2} % Bold company name and date on the right
 \ifthenelse{\equal{#3}{}}{}{ % If the third argument is not specified, don't print the job title and location line
  \\
  {\em #3} \hfill {\em #4} % Italic job title and location
  }
}{
  \par \vspace{0.1em}
}

% The below commands define the whitespace after certain things in the document - they can be \smallskip, \medskip or \bigskip
\def\namesize{\huge} % Size of the name at the top of the document
\def\addressskip{} % The space between the two address (or phone/email) lines
\def\sectionlineskip{\smallskip} % The space above the horizontal line for each section 
\def\nameskip{\vspace{-0.5em}} % The space after your name at the top
\def\sectionskip{} % The space after the heading section

\makeatother % End internal command redefinitions

%----------------------------------------------------------------------------------------
%   DOCUMENT START
%----------------------------------------------------------------------------------------
\name{<< name >> \vspace{.2em} \hrule} % Your name

\address{<< contact.location >> \textbullet\ << contact.email >> \textbullet\ {\href{<< contact.linkedin_url >>}{<< contact.linkedin_display >>}} \textbullet\ {\href{<< contact.website_url >>}{<< contact.website_display >>}}}

\begin{document}

{% if summary %}
%----------------------------------------------------------------------------------------
%   SUMMARY
%----------------------------------------------------------------------------------------
<< summary >>

{% endif %}

{%- set order = section_order if section_order else ['education', 'experience', 'products', 'projects', 'skills', 'certifications'] -%}

{%- for section in order -%}
{%- if section == 'education' and education -%}
%----------------------------------------------------------------------------------------
%   EDUCATION SECTION
%----------------------------------------------------------------------------------------
\begin{rSection}{Education \vspace{.1em}}
{%- for edu in education %}
\begin{rSubsection}{<< edu.school >>}{<< edu.location >>}{\textbf{<< edu.degree >>}}{<< edu.dates >>}
{%- if edu.multi_degree %}
{%- for item in edu.multi_degree %}
{\\ \textbf{<< item.degree >>}} \hfill {<< item.dates >>}
{%- endfor %}
{%- endif %}
{%- if edu.details %}
\begin{itemize}[left=-1.5em, labelsep=.1cm, labelwidth=.2cm, itemsep=0.0em, topsep=0pt]
{%- for detail in edu.details %}
\item << detail >>
{%- endfor %}
\end{itemize}
{%- endif %}
\end{rSubsection}
{%- endfor %}
\end{rSection}
{%- endif %}

{%- if section == 'experience' and experience -%}
%----------------------------------------------------------------------------------------
%   WORK EXPERIENCE SECTION
%----------------------------------------------------------------------------------------
\begin{rSection}{Work Experience}
{%- for exp in experience %}
\begin{rSubsection}{<< exp.role >>, << exp.company >> - << exp.location >>}{<< exp.dates >>}{}{}
\begin{itemize}[left=-1.5em, labelsep=.1cm, labelwidth=.2cm, itemsep=0.0em, topsep=0pt]
{%- for bullet in exp.bullets %}
\item << bullet >>
{%- endfor %}
\end{itemize}
\end{rSubsection}
{%- endfor %}
\end{rSection}
{%- endif %}

{%- if section == 'products' and products -%}
%----------------------------------------------------------------------------------------
%   PRODUCTS / STRATEGIC PROJECTS
%----------------------------------------------------------------------------------------
\begin{rSection}{Strategic Projects \& Analysis \vspace{.1em}}
{%- for product in products %}
\begin{rSubsection}{<< '\href{' + product.url + '}{' + product.name + '}' if product.url else product.name >>}{<< product.dates if product.dates else '' >>}{}{}
\begin{itemize}[left=-1.5em, labelsep=.1cm, labelwidth=.2cm, itemsep=0.0em, topsep=0pt]
{%- for bullet in product.bullets %}
\item << bullet >>
{%- endfor %}
\end{itemize}
\end{rSubsection}
{%- endfor %}
\end{rSection}
{%- endif %}

{%- if section == 'projects' and projects -%}
%----------------------------------------------------------------------------------------
%   TECHNICAL PROJECTS
%----------------------------------------------------------------------------------------
\begin{rSection}{Technical Projects \vspace{.1em}}
{%- for project in projects %}
\begin{rSubsection}{<< '\href{' + project.url + '}{' + project.name + '}' if project.url else project.name >>}{<< project.dates if project.dates else '' >>}{}{}
\begin{itemize}[left=-1.5em, labelsep=.1cm, labelwidth=.2cm, itemsep=0.0em, topsep=0pt]
{%- for bullet in project.bullets %}
\item << bullet >>
{%- endfor %}
\end{itemize}
\end{rSubsection}
{%- endfor %}
\end{rSection}
{%- endif %}

{%- if section == 'skills' and skills -%}
%----------------------------------------------------------------------------------------
%   SKILLS SECTION
%----------------------------------------------------------------------------------------
\begin{rSection}{Skills and Tools}
\begin{itemize}[left=-1.5em, labelsep=.1cm, labelwidth=.2cm, itemsep=0.0em, topsep=0pt]
{%- for skill_group in skills %}
\item \textbf{<< skill_group.category >>:} << skill_group.skill_list >>
{%- endfor %}
\end{itemize}
\end{rSection}
{%- endif %}

{%- if section == 'certifications' and certifications -%}
%----------------------------------------------------------------------------------------
%   CERTIFICATIONS SECTION
%----------------------------------------------------------------------------------------
\begin{rSection}{Certifications}
\begin{multicols}{2}
\begin{itemize}[left=-1.5em, labelsep=.1cm, labelwidth=.2cm, itemsep=0.0em, topsep=0pt]
{%- for cert in certifications %}
\item << cert >>
{%- endfor %}
\end{itemize}
\end{multicols}
\end{rSection}
{%- endif %}
{%- endfor %}

\end{document}
